.header {
    height: 100px;
}

.vr-image {
    width: 100px;
    margin: 1% auto;
}

.ar-image {
    width: 80px;
    margin: 1% auto;
}

.tech-section {
    background-color: #00ffff;
}


.body-background {
    background-color: #1a1f24 !important;
}

h1 {
    color: #ACACAC !important;
}

h2 {
    color: #bfada4 !important;
}