{% extends "base.html" %}
{% block title %}Edit Experience{% endblock %}
{% block content %}

     <div class="container-fluid">
        <div class="col-md-6 col-md-offset-1 padding-top">
            <form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{editedExperience.name}}">

                    <br>
                    <label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{editedExperience.description}}</textarea>

                    <br>
                    <label for="price">Price:</label>
					<textarea class="form-control" maxlength="8" rows="1" name="price">{{editedExperience.price}}</textarea>

                    <br>
                    <label for="headset-compatible">Works with:</label>
                    {% for device in headset %}
                        {% if editedExperience.Headset_id == device.id %}
					<textarea class="form-control" maxlength="8" rows="1" name="headset-compatible">{{device.name}}</textarea>
                        {% endif %}
                    {% endfor %}
                    <br>

                    <button type="submit" class="btn btn-default" id="submit" type="submit">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>

                </div>
            </form>
        </div>
    </div>

{% endblock %}