{% extends "base.html" %}
{% block title %}Edit Experience{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="mx-auto col-md-5">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" maxlength="100" class="form-control" name="name"
                           value="{{ editedExperience.name }}">

                    <br>
                    <label for="course">Type:</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="type" id="type1" value="VR"
                                   {% if editedExperience.type == "VR" %}checked{% endif %}>VR
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="type" id="type2" value="AR"
                                   {% if editedExperience.type == "AR" %}checked{% endif %}>AR
                        </label>
                    </div>
                    <br>

                    <label for="description">Description:</label>
                    <textarea class="form-control" maxlength="250" rows="3"
                              name="description">{{ editedExperience.description }}</textarea>

                    <br>
                    <label for="price">Price:</label>
                    <textarea class="form-control" maxlength="8" rows="1"
                              name="price">{{ editedExperience.price }}</textarea>

                    <br>

                    <button type="submit" class="btn btn-default" id="submit" type="submit">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save
                    </button>

                </div>
            </form>
        </div>
    </div>

{% endblock %}