<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ headset.type }} Headset Catalog</title>
</head>
<body>
    <div class="list-text">
        {% for device in headset %}
            {% if device.type == "VR" %}
              <h4>{{device.name}} - <a href='{{ url_for('editHeadset', headset_type = device.type, headset_id = device.id) }}'>Edit</a>
              - <a href='{{ url_for('deleteHeadset', headset_id = device.id, headset_type =device.type) }}'>Delete</a></h4>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>