<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immersive Tech Catalog</title>
    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../static/styles.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <form class="form-inline mr-2 mr-lg-0">
                <button class="btn btn-outline-success mr-2 mr-sm-0" type="button">Login</button>
            </form>
        </nav>
        <div class="jumbotron-fluid">
            <div class="container text-center header">
                <h1>Immerse Tech Database</h1>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="text-center">VR</h2>
                </div>
                <div class="col">
                    <h2 class="text-center">AR</h2>
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center">
                    <h2 class="text-center">Create new</h2>
                </div>
            </div>
        </div>
            <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
            <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    </div>
</body>
</html>