{% extends "base.html" %}
{% block title %}Immersive Tech Homepage{% endblock %}
{% block content %}

     <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-center header">
                <h1>Immersive Tech Database</h1>
            </div>
        </div>
            <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="tech-section">
                            <h2 class="text-center my-3 py-4"><a href='{{ url_for('realityCatalog', headset_type = "VR") }}'>Virtual Reality</a></h2>
                              <div class="row">
                                <div class="col-md-3 pl-4">
                                    <div class="img-fluid">
                                        <img src="../static/images/vr_image.png" class="vr-image" alt="Image of VR Headset">
                                    </div>
                                </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                               <h3>VR Headsets:</h3>
                                    <div class="list-text">
                                        {% set count=[0] %}
                                        {% for device in headset if not device.type == "AR" %}
                                            {% if count==[3] %}
                                                <div class="row">
                                                    <div class="col"><a href='{{ url_for('realityCatalog', headset_type = "VR") }}'><button type="button"  class="btn btn-light float-right mr-3">See more</button></a>
                                                    </div>
                                                </div>{% break %}{% endif %}
                                            {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
                                            <h4><a href='{{ url_for('viewHeadset', headset_type = device.type, headset_id = device.id) }}'>{{device.name}}</a> - <a href='{{ url_for('editHeadset', headset_type = device.type, headset_id = device.id) }}'>Edit</a>
                                              - <a href='{{ url_for('deleteHeadset', headset_id = device.id, headset_type =device.type) }}'>Delete</a></h4>
                                        {% endfor %}
                                    </div>
                                </div>
                            <div class="mb-4">
                                <h3>VR Experiences</h3>
                                    <div class="list-text">
                                    {% set count=[0] %}
                                    {% for program in experience %}
                                        {% if program.type == "VR" %}
                                            {% if count==[3] %}
                                                <div class="row">
                                                    <div class="col"><a href='{{ url_for('realityCatalog', headset_type = "VR") }}'><button type="button"  class="btn btn-light float-right mr-3">See more</button></a>
                                                </div>
                                                {% break %}{% endif %}
                                            {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
                                            <h4>{{program.name}} - <a href='{{ url_for('editExperience', experience_id = program.id, headset_type = program.type) }}'>Edit</a>
                                            - <a href='{{ url_for('deleteExperience', experience_id = program.id, experience_type = program.type) }}'>Delete</a></h4>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                            </div>
                            </div>
                        </div>
                        </div>
                          </div>
                      </div>
                    <div class="col-md-6">
                        <div class="tech-section">
                            <h2 class="text-center my-3 py-4"><a href='{{ url_for('realityCatalog', headset_type = "AR") }}'>Augmented Reality</a></h2>
                            <div class="row">
                                <div class="col-md-3 pl-5">
                                    <div class="img-fluid">
                                        <img src="../static/images/ar_images.png" class="ar-image" alt="Image of VR Headset">
                                    </div>
                                </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                               <h3>AR Headsets:</h3>
                                   {% set count=[0] %}
                                   {% for device in headset if not device.type == "VR" %}
                                           {% if count==[3] %}
                                               <div class="row">
                                                    <div class="col"><a href='{{ url_for('realityCatalog', headset_type = "AR") }}'><button type="button"  class="btn btn-light float-right mr-3">See more</button></a>
                                                </div>
                                               </div>{% break %}{% endif %}
                                           {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
                                           <h4>{{device.name}} - <a href='{{ url_for('editHeadset', headset_type = device.type, headset_id = device.id) }}'>Edit</a>
                                               - <a href='{{ url_for('deleteHeadset', headset_id = device.id, headset_type =device.type) }}'>Delete</a></h4>
                                   {% endfor %}
                                </div>
                                <div class="mb-4">
                                    <h3>AR Experiences</h3>
                                    {% set count=[0] %}
                                    {% for program in experience %}
                                        {% if program.type == "AR" %}
                                            {% if count==[3] %}
                                                <div class="row">
                                                    <div class="col"><a href='{{ url_for('realityCatalog', headset_type = "AR") }}'><button type="button"  class="btn btn-light float-right mr-3">See more</button></a>
                                                </div>
                                               </div>
                                                {% break %}{% endif %}
                                            {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
                                            <h4>{{program.name}} - <a href='{{ url_for('editExperience', experience_id = program.id, headset_type = program.type) }}'>Edit</a>
                                            - <a href='{{ url_for('deleteExperience', experience_id = program.id, experience_type = program.type) }}'>Delete</a></h4>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                    </div>
                  </div>
            </div>
            </div>

                <div class="row">
                    <div class="mx-auto mt-4">
                        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom"
                                data-content="<a href='{{ url_for('newHeadset') }}'><h3>Headset</h3></a><br><a href='{{ url_for('newExperience') }}'><h3>Experience</h3></a>">
                              Create New Entry
                        </button>
                    </div>
                </div>

{% endblock %}